*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #3C467B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter {
    width: 380px;
    height: 380px;
    background-color: #636CCB;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.inner-converter {
    width: 348px;
    height: 280px;
    background-color: #50589C;
    border-radius: 6rem 6rem 3rem 3rem; 
    padding: 40px 40px;
}
#convert {
    width: 300px;
    height: 64px;
    background-color: #6E8CFB;
    color: white;
    border-radius: 1rem 1rem 6rem 6rem;
    margin-top: 0.4rem;
    border: none;
    margin-left: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.flex-property {
    display: flex;
    align-items: center;
}
.country-div p {
    font-size: 1.1rem;
    color: white;
    margin-right: 8px;
}
#select-country {
    background-color: #50589C;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1rem;
}
#flag-div {
    width: 1.4rem;
    height: 1.4rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 2px;
}
