*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #3C467B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter {
    width: 380px;
    height: 380px;
    background-color: #636CCB;
    border-radius: 5rem;
}
