*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #3C467B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter {
    width: 380px;
    height: 380px;
    background-color: #636CCB;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.inner-converter {
    width: 348px;
    height: 280px;
    background-color: #50589C;
    border-radius: 6rem 6rem 3rem 3rem; 
}
